<aside>
	<div class="container">
		<nav>
			<ul>
				{% for page in site.pages %} {% if page.title %}
				<li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                {% endif %} {% endfor %}
			</ul>
			</li>
			</ul>
		</nav>
	</div>
</aside>

<header  {% if page.cover_image %}
    class="cover-banner"
    style="background-image: url({{ page.cover_image }});"
    {% endif %}>
  <h1><a href="{{ site.baseurl }}">{{ site.title }}</a></h1>

  <img src="/assets/images/mugshot_rect.jpg" id="mugshot" class="rounded"/>

</header>
 
